@page "/videos/{key1?}/"

@using LearnOn.Common
@using LearnOn.Components
@using LearnOn.Data
@using System.Text.Json
@using static LearnOn.Data.Lesson

@inject IJSRuntime js;
@inject HttpClient Http

@if (string.IsNullOrEmpty(chapterLookup[key1]))
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>@chapterLookup[key1]</h3>
    
}


<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    @if (lessons == null)
    {
        <p><em>Loading...</em></p>

    }
    else if (lessons.Where(x => x.ChapterId.ToString() == key1).Count() < 1)
    {
            <MudText Align="Align.Center" Typo="Typo.h5" Color="Color.Primary">
                Sorry, no videos have been created on this topic so far. Please check back here again later.
               
            </MudText>
    }
    else
    {
       
        @foreach (var lesson in lessons.Where(x => x.ChapterId.ToString() == key1))
        {
            <TheCard HeaderText="@lesson.Title">
                <b>@lesson.Description</b><br /><br />
                <button class="btn btn-primary mr-15" @onclick="() => jsObj.PlayVideo(lesson.VideoLink)">Watch</button>
                @if (!string.IsNullOrEmpty(lesson.VideoLink_KA))
                {
                    <button class="btn btn-primary" @onclick="() => jsObj.PlayVideo(lesson.VideoLink_KA)">Watch In Kannada</button>
                }
            </TheCard>
        }
    }
</div>

@code {
    [Parameter]
    public string key1 { get; set; }

    private CallJavascript jsObj;

    private string title { get; set; }

    private Lesson[] lessons;

     private Dictionary<string, string> chapterLookup = new Dictionary<string, string>()
    {
        {ChapterEnum.ArithProg.ToString(),"Arithmetic Progressions"},
        {ChapterEnum.Probability.ToString(),"Probability"},
        {ChapterEnum.QuadEquation.ToString(),"Quadratic Equations"},
        {ChapterEnum.Statistics.ToString(),"Statistics"},
        {ChapterEnum.Trigonometry.ToString(),"Trigonometry"},
        {ChapterEnum.Circles.ToString(),"Circles"},
        {ChapterEnum.CircleAreas.ToString(),"Circles And Areas"}
    };

    
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"key1 =" + key1);
        jsObj = new CallJavascript(js);
        lessons = await Http.GetFromJsonAsync<Lesson[]>("LessonData.json");
    }


}